In [1]:
import pandas as pd
import psycopg2 as pg
import pandas.io.sql as psql
connection = pg.connect("host=localhost dbname=hr user=postgres password=password")
df = pd.read_sql('select * from hr_profile', con=connection)
print(df.head())

   id first_name last_name gender                        industry     salary  \
0   1   Annmarie    Crooke   None          Other Specialty Stores  180466.37
1   2     Morrie    Lahive   None  Diversified Financial Services  239640.00
2   3   Matthias     Roden      M              Metal Fabrications  139679.79
3   4    Madelin     Domke   None                             n/a  196786.25
4   5      Thain    Souter      M                             n/a  140291.87

   years_of_experience                 email date_of_birth
0                 10.0  acrooke0@gizmodo.com    1978-07-09
1                  6.0     mlahive1@imdb.com    1948-04-20
2                 31.0    mroden2@abc.net.au    1998-11-30
3                 12.0   mdomke3@mozilla.com    1979-05-05
4                 28.0    tsouter4@cisco.com    2002-08-03

In [10]:
from datetime import datetime, date

def calculate_age():
    # for each in df
    # get, add, div by len
    pass
    born = '26/01/2000'
    born = df[date_of_birth].values
    born = datetime.strptime(born, "%d/%m/%Y").date()

    #Get today's date
    today = date.today()

    print("Age :",
          today.year - born.year - 
          ((today.month,today.day) < (born.month,born.day)))
    
def avg_age_industry(industry):
    # select rows with this industry
    rslt_df = df[df['industry'] == industry]
    
    return rslt_df
    # calculate avg

In [14]:
hh = avg_age_industry('Metal Fabrications')
hh
#ff = calculate_age()

,id,first_name,last_name,gender,industry,salary,years_of_experience,email,date_of_birth
2,3,Matthias,Roden,M,Metal Fabrications,139679.79,31.0,mroden2@abc.net.au,1998-11-30
19,20,Harper,McIver,None,Metal Fabrications,104371.74,20.0,hmciverj@ning.com,1925-02-11
683,683,Clio,Lowdyane,None,Metal Fabrications,51536.17,32.0,clowdyaneiy@wikipedia.org,1977-03-10
766,766,Gerrie,Lovick,M,Metal Fabrications,86974.46,14.0,glovickl9@tumblr.com,1940-06-26
1126,1124,Cary,Jimmes,F,Metal Fabrications,124968.13,8.0,cjimmes3f@google.com.hk,1953-06-27
1180,1178,Mikkel,Allright,M,Metal Fabrications,212517.08,12.0,mallright4x@youtube.com,1968-07-16
1389,1390,Bjorn,Dunbobbin,M,Metal Fabrications,225672.60,2.0,bdunbobbinat@4shared.com,1977-12-17
1431,1431,Selig,Creavin,None,Metal Fabrications,150220.50,32.0,None,1925-07-05
1455,1455,Herc,Pinard,M,Metal Fabrications,154278.48,21.0,hpinardcm@newsvine.com,1993-03-08
1739,1739,Ilene,Lamdin,F,Metal Fabrications,243557.79,19.0,ilamdinki@walmart.com,1977-10-09
1771,1770,Olag,Colnett,M,Metal Fabrications,115073.18,10.0,ocolnettld@trellian.com,1950-11-06
1811,1810,Andonis,Zappel,None,Metal Fabrications,59723.79,35.0,azappelmh@theglobeandmail.com,1959-11-04
1882,1880,Mareah,Blaxeland,None,Metal Fabrications,70307.23,30.0,mblaxelandof@domainmarket.com,1941-02-21
2190,2191,Malvina,Morgue,None,Metal Fabrications,135783.22,18.0,mmorgue5a@accuweather.com,1939-04-20
2215,2216,Erek,Usherwood,None,Metal Fabrications,202115.98,8.0,eusherwood5z@opensource.org,1971-11-10
2269,2270,Yancy,Covet,M,Metal Fabrications,79513.12,35.0,ycovet7h@studiopress.com,1937-04-20
2279,2280,Pat,Toleman,None,Metal Fabrications,195281.55,31.0,ptoleman7r@sciencedaily.com,1947-09-11
2358,2359,Farlee,Klimp,M,Metal Fabrications,205603.19,9.0,fklimp9y@wikipedia.org,1959-06-25
2405,2406,Mackenzie,Thal,M,Metal Fabrications,131517.00,19.0,mthalb9@opensource.org,1959-05-02
2442,2443,Teirtza,Prichard,F,Metal Fabrications,162734.44,6.0,tprichardca@taobao.com,1969-01-05
2557,2558,Nari,Debenham,F,Metal Fabrications,122138.03,25.0,ndebenhamfh@miitbeian.gov.cn,1985-08-22
2597,2598,Roseline,Vials,None,Metal Fabrications,134296.97,27.0,None,1945-04-11
2786,2787,Jemie,Letherbury,F,Metal Fabrications,215659.49,3.0,jletherburylu@webnode.com,1953-07-09
2829,2830,Alyss,Mariet,F,Metal Fabrications,247992.77,10.0,amarietn1@deviantart.com,1964-12-09
2883,2884,Jackson,Orgill,M,Metal Fabrications,96148.68,26.0,jorgilloj@woothemes.com,1993-08-26
2935,2936,Torey,Purser,M,Metal Fabrications,69105.29,4.0,tpurserpz@naver.com,1951-10-22

In [24]:
dates = hh['date_of_birth'].values
dates.shape[0]

26

In [26]:
ages = []
sum = 0
for date in dates:
    #print(date)
    today = date.today()
    age = today.year - date.year - ((today.month,today.day) < (date.month,date.day))
    #print("Age :",age)
    ages.append(age)
    sum = sum + age
print(ages)
print(sum)
avg_age = sum/dates.shape[0]
print(avg_age)

[22, 96, 44, 81, 68, 53, 43, 96, 28, 43, 70, 61, 80, 82, 49, 84, 73, 62, 62, 52, 35, 76, 68, 56, 27, 69]
1580
60.76923076923077

In [29]:
from datetime import datetime, date

# calculates average age in given industry
def avg_age(industry):
    # select rows with this industry
    industry_df = df[df['industry'] == industry]
    
    dates = industry_df['date_of_birth'].values
    ages = []
    sum = 0
    
    for date in dates:
        today = date.today()
        age = today.year - date.year - ((today.month,today.day) < (date.month,date.day))
        ages.append(age)
        sum = sum + age
    avg_age = sum/dates.shape[0]
    return avg_age
    # calculate avg

In [30]:
yy = avg_age('Metal Fabrications')

[22, 96, 44, 81, 68, 53, 43, 96, 28, 43, 70, 61, 80, 82, 49, 84, 73, 62, 62, 52, 35, 76, 68, 56, 27, 69]
1580
60.76923076923077

In [10]:
industry_df = df[df['industry'] == "Metal Fabrications"]
salary_sum = industry_df["salary"]
salary_sum.sum()/industry_df["salary"].shape[0]

143721.94884615386

In [15]:
def avg_salary_per_industry(industry):
    # select rows with this industry
    industry_df = df[df['industry'] == industry]
    
    salaries = industry_df['salary']
    avg_salary = salaries.sum()/industry_df.shape[0]
    
    return avg_salary
    # calculate avg

In [17]:
ejod = avg_salary("Metal Fabrications")
ejod

143721.94884615386

In [20]:
experience_df = df[df['years_of_experience'] == 12]
experience_df

,id,first_name,last_name,gender,industry,salary,years_of_experience,email,date_of_birth
3,4,Madelin,Domke,None,n/a,196786.25,12.0,mdomke3@mozilla.com,1979-05-05
24,25,Fleming,Grimsell,None,Automotive Aftermarket,208936.79,12.0,fgrimsello@nbcnews.com,1996-01-19
62,63,Brana,Danter,None,Banks,175939.32,12.0,bdanter1q@networksolutions.com,1953-11-11
148,148,Willy,Pirrie,F,Computer peripheral equipment,180972.23,12.0,wpirrie43@auda.org.au,1991-02-14
187,187,Town,Harriday,None,Industrial Machinery/Components,121167.34,12.0,tharriday56@ycombinator.com,1988-11-29
...,...,...,...,...,...,...,...,...,...
2628,2629,Bevin,Barbe,None,Industrial Machinery/Components,180321.99,12.0,bbarbehg@1und1.de,1936-08-17
2635,2636,Hope,Adicot,None,n/a,54941.96,12.0,hadicothn@webmd.com,2003-08-11
2640,2641,Sherry,Norwell,F,Industrial Machinery/Components,213047.85,12.0,snorwellhs@house.gov,1943-03-02
2839,2840,Alexandr,Verick,M,Biotechnology: Commercial Physical & Biologica...,62284.96,12.0,avericknb@businesswire.com,1971-08-29
2871,2872,Drucy,Dedham,F,Property-Casualty Insurers,39817.27,12.0,ddedhamo7@reuters.com,1981-06-26

In [25]:
def avg_salary_per_experience(experience:int):
    # select rows with this industry
    experience_df = df[df['years_of_experience'] == experience]

    salary_per_experience = experience_df['salary']
    avg_salary_per_experience = salary_per_experience.sum()/experience_df.shape[0]


    return avg_salary_per_experience
    # calculate avg

In [26]:
jj = avg_salary_per_experience(12)
jj

146393.66402439022

In [ ]:
        experience_df = df[df['years_of_experience'] == experience]

        salary_per_experience = experience_df['salary']
        avg_salary_per_experience = salary_per_experience.sum()/experience_df.shape[0]